.wrap{
    height: 100px;    
}
header{
    position: fixed;
    background-color: aqua;
    top: 3px;
    height: 100px;

}
nav li{
    display: inline;
    margin-left: 0px;
    margin-right: 40px;
}
a:hover{
    text-decoration: none;
}

.hero{
    height: 500px;
    background-image: url("oneplus6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
article{
    height: auto;
    background-color: aliceblue;
    font-style: italic;
}
.one{
    background-color: aqua;
}
.wrap2{
    background-color: aliceblue;
    height: auto;
}
footer{
    background-color: aqua;
    height: 20px;
}
footer li{
    	margin: auto;
	display:inline;
	padding-right: 20px;
}